## Identify the data type of the following values:

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [9]:
type({'a': []})

dict

#What data type would best represent:



A term or phrase typed into a search box?
-str

If a user is logged in?
-bool

A discount amount to apply to a user's shopping cart?
-int

Whether or not a coupon code is valid?
-bool

An email address typed into a registration form?
-str

The price of a product?
-float

A Matrix?
-list

The email addresses collected from a registration form?
-str

Information about applicants to Codeup's data science program?
-dict

In [10]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [11]:
6 % 4

2

In [12]:
type(6 % 4)

int

In [13]:
type(type(6 % 4))

type

In [14]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [15]:
0 < 0

False

In [16]:
'False' == False

False

In [17]:
True == 'True'

False

In [18]:
5 >= -5

True

In [20]:
!False or False

In [21]:
True or "42"

True

In [22]:
!True && !False

/bin/bash: !False: command not found

In [23]:
6 % 5

1

In [24]:
5 < 4 and 1 == 1

False

In [25]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [26]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (<ipython-input-26-28fe0c9082c3>, line 1)

In [27]:
6 % 3 == 0

True

In [28]:
5 % 2 != 0

True

In [29]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [30]:
[1] + [2]

[1, 2]

In [31]:
[1] * 2

[1, 1]

In [32]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [33]:
[] + [] == []

True

In [34]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

You have rented some movies for your kids: The little mermaid (for 3 days), Brother Bear (for 5 days, they love it), and Hercules (1 day, you don't know yet if they're going to like it). If price for a movie per day is 3 dollars, how much will you have to pay?

In [38]:
price = 3

little_mermaid = 3

bear_brother = 5

hercules = 1

total = (little_mermaid + bear_brother + hercules) * price

print(total)

27

Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook, they pay you a different rate per hour. Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive in payment for this week? You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

In [86]:
google_pay = 400

amazon_pay = 380

facebook_pay = 350

facebook_hrs = 10

google_hrs = 6

amazon_hrs = 4

total_pay = (google_pay * google_hrs) + (amazon_pay * amazon_hrs) + (facebook_pay * facebook_hrs)

print(total_pay)

7420

A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [40]:
class_not_full = True

no_schedule_conflict = True

can_enroll = class_not_full and no_schedule_conflict

can_enroll

True

A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [41]:
premium_member = True

number_of_items = 5

offer_not_expired = True

can_apply_offer = (number_of_items > 2 or premium_member) and offer_not_expired

can_apply_offer

True

In [72]:
username = 'codeup'
password = 'notastrongpassword'

the password must be at least 5 characters

In [44]:
is_long_enough = len(password) >= 5

is_long_enough

True

the username must be no more than 20 characters

In [45]:
username_short_enough = len(username) <= 20

username_short_enough

True

the password must not be the same as the username

In [46]:
unique_password_username = password != username

unique_password_username

True

bonus neither the username or password can start or end with whitespace

In [73]:
username_whitespace = (username[0] != ' ') and (username[-1] != ' ')

password_whitespace = (password[0] != ' ') and (password[-1] != ' ')

username_whitespace

True

In [74]:
password_whitespace

True

In [91]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [56]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [57]:
# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

In [58]:
# Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

In [59]:
# Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())

In [62]:
# Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]
uppercased_fruit = [fruit.upper() for fruit in fruits]

uppercased_fruit

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [64]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]
capitalized_fruits = [fruit.capitalize() for fruit in fruits]

capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [92]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.

def is_vowel(string):
    string = string.lower()
    return string in ["a", "e", "i", "o", "u"]
def count_vowels(string):
    count = 0
    for letter in string:
        if is_vowel(letter):
            count += 1
    return count
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if count_vowels(fruit) > 2]
print(fruits_with_more_than_two_vowels) #['guava', 'pineapple', 'mandarin orange']

['guava', 'pineapple', 'mandarin orange']

In [94]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']

fruits_with_only_two_vowels = [fruit for fruit in fruits if count_vowels(fruit) == 2]

print(fruits_with_only_two_vowels)

['mango', 'kiwi', 'strawberry']

In [98]:
# Exercise 5 - make a list that contains each fruit with more than 5 characters
more_than_five = [fruit for fruit in fruits if len(fruit) > 5]

more_than_five

['strawberry', 'pineapple', 'mandarin orange']

In [96]:
# Exercise 6 - make a list that contains each fruit with exactly 5 characters

exactly_five = [fruit for fruit in fruits if len(fruit) == 5]

exactly_five

['mango', 'guava']

In [97]:
# Exercise 7 - Make a list that contains fruits that have less than 5 characters

less_than_five = [fruit for fruit in fruits if len(fruit) < 5]

less_than_five

['kiwi']

In [100]:
# Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]

number_of_characters = [len(fruit) for fruit in fruits]

number_of_characters

[5, 4, 10, 5, 9, 15]

In [101]:
# Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the fruits that contain the letter "a"

fruits_with_letter_a = [fruit for fruit in fruits if fruit.count("a") >= 1]

fruits_with_letter_a

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [103]:
# Exercise 10 - Make a variable named even_numbers that holds only the even numbers 

even_numbers = [fruit for fruit in fruits if len(fruit) % 2 == 0 ]

even_numbers

['kiwi', 'strawberry']

In [104]:
# Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers

odd_numbers = [fruit for fruit in fruits if len(fruit) % 2 == 1]

odd_numbers

['mango', 'guava', 'pineapple', 'mandarin orange']

In [105]:
# Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers

positive_numbers = [number for number in numbers if number > 0]

positive_numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [106]:
# Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

negative_numbers = [number for number in numbers if number < 0]

negative_numbers

[-8, -4, -2, -9]

In [110]:
# Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals

two_digits = [number for number in numbers if (number >= 10 or number <= -10)]

two_digits

[10, 11, 13, 17, 19, 23, 256]

In [111]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]

numbers_squared = [(number * number) for number in numbers]

numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

In [112]:
# Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.

odd_negative_numbers = [number for number in numbers if (number % 2 == 1 and number < 0)]

odd_negative_numbers

[-9]

In [113]:
# Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five. 

number_plus_5 = [(number + 5) for number in numbers]

number_plus_5

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

In [116]:
# BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list. *Hint* you may want to make or find a helper function that determines if a given number is prime or not.


def is_prime(num):
 
    if num > 1:
 
    # Iterate from 2 to n / 2
        for i in range(2, num):
 
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
            if (num % i) == 0:
                False
                break
            else:
                True
 
    else:
        False

In [117]:
primes = [number for number in numbers if is_prime(number) == True]

primes

[]