In [1]:
print('Hello, World!')

Hello, World!

In [2]:
goal = 'My goal is to get better at python by practicing frequently and practicing new coding techniques'

print(goal)

My goal is to get better at python by practicing frequently and practicing new coding techniques

In [3]:
2+2

4

In [4]:
type(123)

int

In [5]:
type('hello')

str

In [6]:
type(True)

bool

In [7]:
favorite_number = 42
n = favorite_number + 7

In [8]:
n

49

In [9]:
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

In [10]:
True == True

True

In [11]:
True == False

False

In [12]:
True != True

False

In [13]:
True != False

True

In [14]:
not False

True

In [15]:
True and True

True

In [16]:
True and False

False

In [17]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [18]:
is_first_of_the_month = False
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False

In [19]:
is_first_of_the_month = True
report_has_been_sent = True

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False

In [20]:
is_first_of_the_month = False
report_has_been_sent = True

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False

In [21]:
4 + 5 > 10 - 2

True

In [22]:
0.1 + 0.2

0.30000000000000004

In [23]:
'hello there!'
''
'123'
"here is a number: 42. It's a nice number"

"here is a number: 42. It's a nice number"

In [24]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [25]:
'''
This string
can contain
a lot of
text!
'''

'\nThis string\ncan contain\na lot of\ntext!\n'

In [26]:
'hello' == 'hello'

True

In [27]:
'hello' == 'Hello'

False

In [28]:
'hello' == 'HELLO'

False

In [29]:
'abc' != 'def'

True

In [30]:
'abc' + 'def'

'abcdef'

In [31]:
'abc' * 3

'abcabcabc'

In [32]:
'2' + 1

TypeError: can only concatenate str (not "int") to str

In [33]:
name = 'World'

In [34]:
'Hello, %s!' % name

'Hello, World!'

In [35]:
'Hello, {}!'.format(name)

'Hello, World!'

In [36]:
f'Hello {name}!'

'Hello World!'

In [37]:
s = '   Hello, Codeup!   '

In [38]:
s

'   Hello, Codeup!   '

In [39]:
s.lower()

'   hello, codeup!   '

In [40]:
s.strip()

'Hello, Codeup!'

In [41]:
s.isdigit()

False

In [42]:
'123'.isdigit()

True

In [43]:
s.strip().split(', ')

['Hello', 'Codeup!']

In [44]:
', '.join(['one', 'two', 'three'])

'one, two, three'

In [45]:
[1, 2, 3] # a list with 3 numbers

[1, 2, 3]

In [46]:
['one', 'two', 'three'] # a list with 3 strings

['one', 'two', 'three']

In [47]:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]] # a list of lists of numbers

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [50]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

In [51]:
numbers = [1, 2, 3]

In [52]:
numbers

[1, 2, 3]

In [53]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [54]:
numbers.pop()
numbers

[1, 2, 3]

In [55]:
len(numbers)

3

In [56]:
numbers[0] # the first element in the list

1

In [57]:
numbers[2] # the last element in the list

3

In [58]:
numbers[:2] # everything up to, but not including, the element at index 2

[1, 2]

In [59]:
numbers[1:2] # everything from index 1 up to, but not including, index 2

[2]

In [60]:
numbers[1:] # everything from index 1 to the end of the list

[2, 3]

In [61]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [63]:
list(map(str, [1, 2, 3]))

['1', '2', '3']

In [64]:
(1, 'two', ['t', 'h', 'r', 'e', 'e'])

(1, 'two', ['t', 'h', 'r', 'e', 'e'])

In [65]:
my_tuple = (1, 2, 3)
my_tuple[1]

2

In [66]:
{'name': 'Codeup', 'age': 4}

{'name': 'Codeup', 'age': 4}

In [67]:
dict(name='Codeup', age=4)

{'name': 'Codeup', 'age': 4}

In [68]:
school = dict(name='Codeup', age=4)

school['name']

'Codeup'

In [69]:
school['age'] += 1

school

{'name': 'Codeup', 'age': 5}